{% extends 'base.html' %} {% block head %}
<title>Posts</title>
{% endblock %} {% block body %}
<h1>All posts</h1>

<a class="btn-write btn btn-dark" href="/posts/write">Write a new post</a>

<div style="margin: 30px 0">
  {% for post in posts %}

  <h2>{{post.title}}</h2>

  {% if post.author %}
  <small class="post-detail"
    >Writen by: <b>{{post.author}}</b> on
    <i class="date">{{ post.date_posted }}</i></small
  >
  {% else %}
  <small class="post-detail"
    >Writen by: <b>Unknown Author</b> on
    <i class="date">{{ post.date_posted }}</i></small
  >
  {% endif %}

  <p class="post-content">{{post.content}}</p>
  <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
    >Delete
  </a>

  <a class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit </a>
  <hr />

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to delete this post?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <a class="btn btn-danger" href="/posts/delete/{{post.id}}">Yes </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endblock %}
</div>